<div class="container mt-4">
  <h1 class="text-center">いいね一覧</h1>

  <div class="card-list-container">
    <% if @posts.empty? %>
      <p>いいねした投稿はありません。</p>
    <% else %>
      <%= render 'posts/list', posts: @posts %>
    <% end %>
  </div>
</div>