<h2 class="text-center mb-4">検索結果</h2>
  <% if @range == "User" %>
    <div class="profile-wrap">
      <div class="container">
        <ul class="list-group">
          <% @users.each do |user| %>
            <li class="list-group-item d-flex align-items-center mb-3">
              <%= link_to image_tag(user.get_profile_image(100, 100), class: "rounded-circle me-3"), user_path(user) %>
              <%= link_to user.name, user_path(user), class: "h5 text-dark" %> 
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="card-list-container py-5">
      <% if @posts.empty? %>
        <p>投稿はありません。</p>
      <% else %>
        <%= render 'posts/list', posts: @posts %>
      <% end %>
    </div>
    <%= paginate @posts %>
  <% end %>
